:root.dark-mode:not(#id-4-specificity) {
      /* Dark Theme */
      --e-color-gray-10:  hsl(0, 0%, 95%);
      --e-color-gray-9:  hsl(0, 0%, 90%);
      --e-color-gray-8:  hsl(0, 0%, 80%);
      --e-color-gray-7:  hsl(0, 0%, 70%);
      --e-color-gray-6:  hsl(0, 0%, 60%);
      --e-color-gray-5: hsl(0, 0%, 50%);
      --e-color-gray-4: hsl(0, 0%, 40%);
      --e-color-gray-3: hsl(0, 0%, 30%);
      --e-color-gray-2: hsl(0, 0%, 20%);
      --e-color-gray-1: hsl(0, 0%, 10%);
      --e-color-gray-0: hsl(0, 0%, 7%); 
}

:root:has(input[name=color-scheme][value=dark]:checked) {
  #color-scheme::after{ 
    content:'Dark Mode';
  }
      /* Dark Theme */
      --e-color-gray-10:  hsl(0, 0%, 95%);
      --e-color-gray-9:  hsl(0, 0%, 90%);
      --e-color-gray-8:  hsl(0, 0%, 80%);
      --e-color-gray-7:  hsl(0, 0%, 70%);
      --e-color-gray-6:  hsl(0, 0%, 60%);
      --e-color-gray-5: hsl(0, 0%, 50%);
      --e-color-gray-4: hsl(0, 0%, 40%);
      --e-color-gray-3: hsl(0, 0%, 30%);
      --e-color-gray-2: hsl(0, 0%, 20%);
      --e-color-gray-1: hsl(0, 0%, 10%);
      --e-color-gray-0: hsl(0, 0%, 7%); 
}
:root:has(input[name=color-scheme][value=light]:checked) {
  #color-scheme::after{ 
    content:'Light Mode';
  }
  /* Light Theme */
  --e-color-gray-0:  hsl(0, 0%, 95%);
  --e-color-gray-1:  hsl(0, 0%, 90%);
  --e-color-gray-2:  hsl(0, 0%, 80%);
  --e-color-gray-3:  hsl(0, 0%, 70%);
  --e-color-gray-4:  hsl(0, 0%, 60%);
  --e-color-gray-5: hsl(0, 0%, 50%);
  --e-color-gray-6: hsl(0, 0%, 40%);
  --e-color-gray-7: hsl(0, 0%, 30%);
  --e-color-gray-8: hsl(0, 0%, 20%);
  --e-color-gray-9: hsl(0, 0%, 10%);
  --e-color-gray-10: hsl(0, 0%, 7%); 
}
:root:has(input[name=color-scheme][value=auto]:checked) {
  #color-scheme::after{ 
    content:'Auto Mode';
  }
}
:root {
  /* Colors */
  color-scheme: light dark;

  /* Default Light Theme */
  --e-color-gray-0:  hsl(0, 0%, 95%);
  --e-color-gray-1:  hsl(0, 0%, 90%);
  --e-color-gray-2:  hsl(0, 0%, 80%);
  --e-color-gray-3:  hsl(0, 0%, 70%);
  --e-color-gray-4:  hsl(0, 0%, 60%);
  --e-color-gray-5: hsl(0, 0%, 50%);
  --e-color-gray-6: hsl(0, 0%, 40%);
  --e-color-gray-7: hsl(0, 0%, 30%);
  --e-color-gray-8: hsl(0, 0%, 20%);
  --e-color-gray-9: hsl(0, 0%, 10%);
  --e-color-gray-10: hsl(0, 0%, 7%); 
}

  @media ( prefers-color-scheme: dark ) {
    :root {
      /* Dark Theme */
      --e-color-gray-10:  hsl(0, 0%, 95%);
      --e-color-gray-9:  hsl(0, 0%, 90%);
      --e-color-gray-8:  hsl(0, 0%, 80%);
      --e-color-gray-7:  hsl(0, 0%, 70%);
      --e-color-gray-6:  hsl(0, 0%, 60%);
      --e-color-gray-5: hsl(0, 0%, 50%);
      --e-color-gray-4: hsl(0, 0%, 40%);
      --e-color-gray-3: hsl(0, 0%, 30%);
      --e-color-gray-2: hsl(0, 0%, 20%);
      --e-color-gray-1: hsl(0, 0%, 10%);
      --e-color-gray-0: hsl(0, 0%, 7%); 
    }
  }

:root {


  /*----------------------------------*/
  --e-color-primary: hsl(202,  67%, 45%);
  --e-color-primary-contrast: hsl(202,  67%, 30%);
  --e-color-primary-text: white;

  --e-color-alert-text: hsl(0, 0%, 20%);

  --e-color-info: #c4dffb;
  --e-color-info-contrast: #6990ee;
  
  --e-color-error: #fce2de;
  --e-color-error-contrast: #eb6176;

  --e-color-success: #ccf3ca;
  --e-color-success-contrast: #26a573;

  --e-color-warning: #f6e5bb;
  --e-color-warning-contrast: #e36f4f;


  /* Derived Colors: Set from other colors */
  --e-color-well-surface: var(--e-color-gray-1);
  --e-color-background-surface: var(--e-color-gray-1);
  --e-color-elevated-surface: var(--e-color-gray-0);

  --e-color-surface-text: var(--e-color-gray-9);
  --e-color-surface-subtext: var(--e-color-gray-7);

  --e-color-info-text: var(--e-color-alert-text);
  --e-color-success-text: var(--e-color-alert-text);
  --e-color-error-text: var(--e-color-alert-text);
  --e-color-warning-text: var(--e-color-alert-text);


  --e-color-disabled-fg: var(--e-color-gray-5);
  --e-color-disabled-bg: var(--e-color-gray-2);

  --e-color-focus: var(--e-color-info);
  --e-color-border: var(--e-color-gray-3);

  
  --e-color-code-text: var(--e-color-surface-text);

  --e-color-tag: var(--e-color-info);
  --e-color-tag-text: var(--e-color-info-text);


  /* Borders */
  --e-border-radius-sm: 2px;
  --e-border-radius-md: 4px;
  --e-border-radius-lg: 8px;
  --e-border-radius-full: 9999px;

  /* Other */
  --e-max-content-width: 1320px; 
  --e-input-min-height: 2.125rem; 

  /* spacing */
  --e-space-xs: .375rem;
  --e-space-sm: .75rem;
  --e-space-default: 1rem;
  --e-space-md: 1.125rem;
  --e-space-lg: 1.5rem;
  --e-space-xl: 3rem;

  /* Font */
  --e-font-size-min: .8125rem; /* WCAG recommendation */
  --e-font-size-default: 1rem;
  --e-font-size-md: 1.125rem;
  --e-font-size-lg: 1.5rem;
  --e-font-size-xl: 2rem;

  --e-header-height: 3em;
  --e-header-font-size: var(--e-font-size-md);
}