
:root {
  font-size:16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  /* box-sizing: border-box; */
  color: var(--e-color-gray-7);
  background-color: white;
  font-family: 'Helvetica Neue', Arial;
}

h1,h2,h3,h4,h5,h6 { 
  font-weight: 700;
}
h1 {font-size:var(--e-font-size-xl);}
h2 {font-size:var(--e-font-size-lg);}
h3 {font-size:var(--e-font-size-md);}
h4, h5 {font-size:var(--e-font-size-default);}
h6 {font-size:var(--e-font-size-min);}

