:root {
  /* Colors */
  --e-color-gray-1: #f8f8f8;
  --e-color-gray-2: #dedede;
  --e-color-gray-3: #ccc;
  --e-color-gray-4: #9c9c9c;
  --e-color-gray-5: #838383;
  --e-color-gray-6: #6e6e6e;
  --e-color-gray-7: #404040;
  --e-color-gray-8: #333;
  --e-color-gray-9: #282828;

  --e-color-info-1: #d8ebfe;
  --e-color-info-2: #6990ee;
  --e-color-info-3: #494eaa;
  
  --e-color-error-1: #fce2de;
  --e-color-error-2: #eb6176;
  --e-color-error-3: #a2204f;

  --e-color-success-1: #ccf3ca;
  --e-color-success-2: #26a573;
  --e-color-success-3: #146146;

  --e-color-warning-1: #f6e5bb;
  --e-color-warning-2: #e36f4f;
  --e-color-warning-3: #963712;

  --e-color-disabled-fg: var(--e-color-gray-4);
  --e-color-disabled-bg: var(--e-color-gray-1);

  --e-color-focus: var(--e-color-info-1);

  --e-color-primary-action: #157bb6;
  --e-color-primary-bg: white;

  --e-color-border: var(--e-color-gray-2);

  /* Borders */
  --e-border-radius-sm: 2px;
  --e-border-radius-md: 4px;
  --e-border-radius-full: 9999px;

  /* Other */
  --e-max-content-width: 1320px; /* The 16" MacBook Pro */
  --e-input-min-height: 2.125rem; 
  --e-target-min-size: 1.5rem; /* WCAG Level AA minimum target recommendation is 24x24 */

  /* spacing */
  --e-space-xs: .375rem;
  --e-space-sm: .75rem;
  --e-space-md: 1.125rem;
  --e-space-lg: 1.5rem;
  --e-space-xl: 3rem;

  /* Font */
  --e-font-size-min: .8125rem; /* WCAG recommendation */
  --e-font-size-default: 1rem;
  --e-font-size-md: 1.125rem;
  --e-font-size-lg: 1.5rem;
  --e-font-size-xl: 2rem;

  --e-header-height: 3rem;
}